# Added by A2Hosting.com
/public/
/tmp/
/.htaccess

# Used to provide npm with secrets on A2Hosting
.env

# Dependencies
node_modules

# Pesky editors
.vscode
.DS_Store

# Built files
index.js
index.js.LICENSE.txt
styles.js

# dist
storybook-static
assets/app.css
