# Dev build files
index.js.LICENSE.txt

# Added by A2Hosting.com
/public/
/tmp/
/.htaccess
/robots.txt

# Used to provide npm with secrets on A2Hosting
.env

# Dependencies
node_modules

# Pesky editors
.vscode
.DS_Store
