# Dev build files
index.js
index.js.LICENSE.txt
styles.js
assets/app.css
/build/

# Prod build files
assets/app.css


# Added by A2Hosting.com
/public/
/tmp/
/.htaccess
/robots.txt

# Used to provide npm with secrets on A2Hosting
.env

# Dependencies
node_modules

# Pesky editors
.vscode
.DS_Store
