/* assets/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  /* src: local('inter'), url(./fonts/Inter-Regular.ttf) format('ttf'); */
  src: url(./fonts/inter.woff2) format('woff2');
	font-style: oblique 0deg 12deg;
  font-weight: 100 900;
  font-display: fallback;
}ail

@font-face {
  font-family: 'Borda';
  src: url(./fonts/Borda.woff2) format('woff2');
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: 'Borda';
  src: url(./fonts/Borda-Medium.woff2) format('woff2');
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: 'Borda';
  src: url(./fonts/Borda-DemiBold.woff2) format('woff2');
  font-weight: 600;
  font-display: fallback;
}